{% extends 'base.html' %}
{% block header %}
<header>{% include 'header.html' %}</header>
{% endblock %}

{% block content %}
 <section class="login-page">
     <table class="table">
         <tbody>
            <tr>
              <th>Imię</th>
              <td>{{name}}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{surname}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{email}}</td>
            </tr>
        </tbody>
     </table>
</section>
{% endblock %}